on:
  pull_request:
  push:
    tags:
      - "*"
permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            config: linux
          - os: macos-latest
            config: darwin
          - os: windows-latest
            config: windows
    name: Build ${{ matrix.config }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go 1.17.0
        uses: actions/setup-go@v5
        with:
          go-version: 1.17.0
      - name: Install cross-compilation tools
        run: sudo apt-get update && sudo apt-get install -y gcc-arm-linux-gnueabihf gcc-aarch64-linux-gnu mingw-w64
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CGO_ENABLED: 1
